@media (max-width: 1400px) {
	.maintenance {
		.logo {
			img {
				width: 350px;
			}
		}
		.img {
			img {
				width: 350px;
			}
		}
		.txt {
			font-size: 26px;
			line-height: 30px;
			letter-spacing: 2px;
		}
	}
}


@media (max-width: 1199px) {
	header {
		.header-bottom {
			.main-menu {
				nav {
					a {
						margin-right: 30px;
						font-size: 15px;
					}
				}
			}
		}
	}
	#main {
		.slider-banner {
			.item {
				.bg-banner {
					.t {
						font-size: 28px;
						line-height: 35px;
					}
					.bdy {
						margin-bottom: 20px;
						p {
							font-size: 14px;
							&.mb8 {
								margin-bottom: 5px;
							}
						}
					}
				}
			}
		}
		.bg {
			&#testimoni {
				padding: 80px 0 40px;
				.abs-testi-left {
					top: 60px;
				}
				.abs-testi-right {
					top: 300px;
					img {
						height: 80px;
					}
				}
				.pl50 {
					padding-left: 40px;
					margin-top: 60px;
					.t {
						font-size: 35px;
						line-height: 40px;
					}
					.bdy {
						font-size: 18px;
					}
				}
			}
		}
	}
}