@media (max-width: 767px) {
	.link-btn {
		font-size: 14px;
		padding: 7px 15px;
	}
	.xs30 {
		margin-bottom: 30px;
	}
	.hidden-xs {
		display: none;
	}
	.fixed-top {
		a {
			width: 50px;
			height: 50px;
			.img {
				img {
					width: 25px;
				}
			}
		}
	}

	.fixed-message {
		a {
			width: 50px;
			height: 50px;
			// bottom: 80px;
			.img {
				img {
					width: 25px;
				}
			}
			.txt {
				display: none !important;
			}
			&:hover {
				width: 50px;
				border-radius: 50%;
				padding: 10px;
				.img {
					left: 55%;
					right: inherit;
					top: 50%;
					@include transform(translate(-50%,-50%));
				}
			}
		}
	}

	.fixed-question {
		a {
			width: 50px;
			height: 50px;
			// bottom: 20px;
			.img {
				img {
					width: 25px;
				}
			}
			.txt {
				display: none !important;
			}
			&:hover {
				width: 50px;
				border-radius: 50%;
				padding: 10px;
				.img {
					right: inherit;
					left: 50%;
					@include transform(translate(-50%,-50%));
				}
			}
		}
	}
	body {
		&.bg-main {
			padding: 20px;
		}
	}
	header {
		.header-bottom {
			.menu {
				cursor: pointer;
				display: inline-block;
				position: relative;
				top: 2px;
				i {
					font-size: 20px;
					color: #2cb7a6;
				}
			}
		}
	}
	.maintenance {
		padding: 20px 10px;
		height: calc(100vh - 40px);
		.logo {
			margin-bottom: 10px;
			img {
				width: 170px;
			}
		}
		.img {
			margin: 20px 0 10px;
			img {
				width: 200px;
			}
		}
		.txt {
			font-size: 16px;
			line-height: 23px;
			letter-spacing: 1px;
		}
	}
	footer {
		padding: 30px 0 20px;
		.t-footer {
			font-size: 16px;
			margin-bottom: 5px;
		}
		ul.l-footer {
			li {
				font-size: 15px;
				line-height: 20px;
			}
		}
		.link {
			a {
				font-size: 16px;
			}
		}
	}
	.col-20 {
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	#main {
		.pad-tentang {
			padding: 20px 0;
			.pad50 {
				padding: 20px 0;
				.right {
					.t {
						text-align: left;
						padding: 0;
					}
					.bdy {
						text-align: left;
						padding: 0;
					}
				}
				.img {
					margin-bottom: 15px;
				}
				.t {
					padding-left: 0;
					font-size: 18px;
					line-height: 26px;
				}
				.bdy {
					padding-left: 0;
					margin-bottom: 10px;
				}
			}
		}
		.slider-banner {
			padding-top: 30px;
			.item {
				.bg-banner {
					height: auto;
					.abs-img {
						margin-top: 25px;
						position: relative;
					}
					.img {
						margin-bottom: 20px;
						img {
							height: 180px;
						}
					}
					.t {
						font-size: 17px;
						line-height: 24px;
						&.text-right {
							text-align: left !important;
						}
					}
					.bdy {
						&.text-right {
							text-align: left !important;
						}
					}
				}
			}
		}
		.bg {
			padding: 40px 0;
			&#tentang {
				.t {
					font-size: 18px;
					line-height: 26px;
				}
				.bdy {
					p {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
			&#siap {
				padding: 40px 0 100px;
				.t {
					font-size: 18px;
					line-height: 26px;
				}
				.bdy {
					font-size: 14px;
				    line-height: 20px;
				    margin-bottom: 25px;
				}
				.bdr {
					margin-bottom: 20px;
					font-size: 13px;
					line-height: 20px;
					margin-bottom: 25px;
				}
			}
			&#desain {
				.bdr-desain {
			    	padding-top: 30px;
			    }
				padding-top: 30px;
				.t {
					font-size: 18px;
					line-height: 26px;
				}
				.tab-content {
					margin-bottom: 10px;
					.tab-pane {
						.img {
							margin-bottom: 20px;
							padding: 0;
						}
					}
				}
				ul.nav-pills {
					li {
						margin-bottom: 20px;
						width: 50%;
						a {
							margin-bottom: 10px;
							padding: 5px 10px;
							line-height: 24px;
							font-size: 16px;
						}
						ul.l-desain {
							li {
								font-size: 13px;
								line-height: 20px;
							}
						}
					}
				}
			}
			&#cara {
				.t {
					font-size: 14px;
					margin-bottom: 0;
				}
				.t2 {
					font-size: 20px;
					line-height: 30px;
					margin-bottom: 15px;
				}
				.item {
					margin-bottom: 20px;
					display: table;
					width: 100%;
					height: 100%;
					.item-cell {
						display: table-cell;
						vertical-align: top;
						&.pl15 {
							padding-left: 15px;
						}
					}
					.img {
						margin-bottom: 0;
						img {
							height: 60px;
						}
					}
					.nm {
						text-align: left;
						font-size: 14px;
					}
					.text {
						text-align: left;
					}
				}
			}
			&#testimoni {
				padding: 40px 0 20px;
				.abs-testi {
					display: none;
				}
				.abs-testi-left {
					top: 20px;
					img {
						height: 40px;
					}
				}
				.abs-testi-right {
					top: 190px;
					img {
						height: 40px;
					}
				}
				.bg-testi {
					background-image: linear-gradient(to right, #52d4bf , #0cb7bf);
					padding: 20px 0;
				}
				.pl50 {
					padding-left: 0;
					margin-top: 20px;
					.t {
						font-size: 18px;
						margin-bottom: 0;
						line-height: 26px;
					}
					.bdy {
						margin-bottom: 20px;
						font-size: 14px;
						line-height: 20px;
					}
				}
				.t2 {
					margin: 0 0 10px;
					font-size: 18px;
					line-height: 26px;
				}
				.slider-testimoni {
					.slick-prev {
	                    width: 10px;
	                	height: 16px;
	                	background: url('../images/testi-left-resp.png');
	                    left: -10px;
	                }
	                .slick-next {
	                	width: 10px;
	                	height: 16px;
	                	background: url('../images/testi-right-resp.png');
	                	right: -10px;
	                }
	                .item {
	                	.bdy-testi {
	                		p {
	                			height: auto;
	                		}
	                	}
	                }
				}
			}
			&#hubungi {
				.t {
					margin-bottom: 40px;
					font-size: 18px;
					line-height: 26px;
				}
				.item {
					.img {
						margin-bottom: 15px;
						img {
							height: 100px;
						}
					}
					a {
						img {
							height: 25px;
						}
					}
				}
				.metode {
					padding-top: 15px;
					margin-top: 40px;
					.t2 {
						font-size: 16px;
						margin-bottom: 10px;
					}
					ul.l {
						li {
							margin-right: 15px;
							img {
								height: 25px;
							}
						}
					}
				}
			}
		}
	}
}