@media (max-width: 991px) {
	body {
		padding-top: 50px !important;
	}
	header {
		.header-top {
			height: 5px;
		}
		.header-bottom {
			padding: 10px 0 !important;
			.logo {
				a {
					img {
						height: 26px !important;
					}
				}
			}
		}
		.header-bottom {
			.main-menu {
				top: 3px;
				nav {
					a {
						margin-right: 17px;
						font-size: 12px;
						line-height: 20px;
					}
				}
			}
		}
	}
	#main {
		.pad-tentang {
			padding: 30px 0;
			.pad50 {
				padding: 30px 0;
				.t {
					font-size: 22px;
					line-height: 26px;
				}
				.bdy {
					padding-left: 20px;
					p {
						font-size: 14px;
						line-height: 20px;
					}
				}
			}
		}
		.slider-banner {
			.item {
				.bg-banner {
					height: 500px;
					.t {
						font-size: 20px;
						line-height: 30px;
					}
					.bdy {
						margin-bottom: 15px;
						p {
							font-size: 13px;
						}
					}
				}
			}
		}
		.bg {
			padding: 60px 0;
			&#siap {
				padding: 60px 0 90px;
				.t {
					font-size: 25px;
					line-height: 30px;
				}
				.bdy {
					font-size: 16px;
					margin-bottom: 30px;
				}
				.bdr {
					font-size: 15px;
					line-height: 20px;
					margin-bottom: 25px;
					border-left: 2px solid white;
				}
			}
			&#tentang {
				.t {
					font-size: 25px;
					line-height: 30px;
				}
				.bdy {
					p {
						font-size: 15px;
					}
				}
			}
			&#desain {
				.bdr-desain {
			    	padding-top: 40px;
			    }
				padding-top: 50px;
				.t {
					font-size: 25px;
					line-height: 30px;
				}
				.tab-content {
					margin-bottom: 30px;
					.tab-pane {
						.img {
							&.small {
								a {
									img {
										height: 210px;
									}
								}
							}
						}
					}
				}
				ul.nav-pills {
					li {
						a {
							margin-bottom: 15px;
							padding: 8px 15px;
							line-height: 30px;
							font-size: 20px;
						}
						ul.l-desain {
							li {
								font-size: 14px;
								line-height: 24px;
							}
						}
					}
				}
			}
			&#cara {
				.t {
					font-size: 18px;
				}
				.t2 {
					font-size: 30px;
					line-height: 40px;
					margin-bottom: 20px;
				}
				.item {
					.img {
						margin-bottom: 15px;
						img {
							height: 80px;
						}
					}
					.nm {
						font-size: 16px;
					}
					.text {
						font-size: 12px;
						line-height: 14px;
					}
				}
			}
			&#testimoni {
				padding: 60px 0 20px;
				.abs-testi-left {
					top: 30px;
					img {
						height: 50px;
					}
				}
				.abs-testi-right {
					top: 190px;
					img {
						height: 60px;
					}
				}
				.pl50 {
					padding-left: 20px;
					margin-top: 40px;
					.t {
						font-size: 25px;
						line-height: 30px;
					}
					.bdy {
						font-size: 16px;
					}
				}
				.t2 {
					margin: 10px 0 20px;
					font-size: 30px;
					line-height: 35px;
				}
				.slider-testimoni {
					.item {
						margin: 0 15px;
						.bdy-testi {
							p {
								font-size: 13px;
								line-height: 18px;
								height: 105px;
							}
						}
						.nm-testi {
							font-size: 12px;
						}
					}
				}
			}
			&#hubungi {
				.t {
					margin-bottom: 60px;
					font-size: 26px;
					line-height: 35px;
				}
				.item {
					.img {
						margin-bottom: 20px;
						img {
							height: 140px;
						}
					}
					a {
						img {
							height: 35px;
						}
					}
				}
				.metode {
					margin-top: 60px;
				}
			}
		}
	}
}