@import "bourbon/bourbon";

// $green: #5d9618;

body{
	font-family: 'ProximaNova';
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    &.no-scroll {
    	overflow: hidden;
    }
    &.bg-grey {
    	background-color: #f0f1f6;
    }
}
.slide-menu {
    display: block;
    width: 100%;
    position: fixed;
    left: 0;
    top: -100%;
    background: rgba(255,255,255,.9);
    @include transition(all 0.3s);
    z-index: 1200;
    height: auto;
    padding: 0;
    .pad20 {
        padding: 40px 20px 20px;
    }
    &.active {
        top: 0;
    }
    .box-close {
        position: absolute;
        top: 18px;
        right: 17px;
        line-height: 1;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        i {
            color: #2cb7a6;
            font-size: 20px;
        }
    }
    nav {
		a {
			display: block;
			margin-bottom: 10px;
			font-size: 16px;
			line-height: 20px;
			color: #2cb7a6;
			@include transition(all 0.3s);
			&:last-child {
				margin-bottom: 0;
			}
			&.active {
				font-weight: bold;
			}
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    visibility: hidden;
    z-index: -1;
    @include transition(all 0.3s);
    &.active {
        z-index: 1100;
        visibility: visible;
        background: rgba(0,0,0,.4);
    }
}

.link-btn {
	position: relative;
	padding: 8px 20px;
	background: white;
	color: #2cb7a6;
	font-size: 16px;
	letter-spacing: 0.5px;
	border: 0;
	bottom: 0;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	@include transition(all 0.3s);
	-webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.4);
	&:hover {
		bottom: 5px;
	}
}

button:focus {
	outline: 0;
}
a:focus, a:hover {
	text-decoration: none;
	outline: 0;
	color: inherit;
}
*:focus, *:hover {
	outline: 0;
}

a.block {
	display: block;
}

.inline-block {
	display: inline-block;
	&.v-middle {
		vertical-align: middle;
	}
}
.tbl { 
	width: 100%; 
	height: 100%; 
	display: table; 
	.cell {
		display: table-cell;
		vertical-align: middle;
		&.v-top {
			vertical-align: top;
		}
	}
} 
.pos-rel {
	position: relative;
}
body {
	@include transition(all 0.3s);
	&.bg-main {
		background: #72C5BE;
		padding: 50px;
	}
}

#main {
	max-width: 1800px;
	margin: 0 auto;
	.pad-tentang {
		padding: 140px 0 50px;
		.pad50 {
			padding: 50px 0;
			.right {
				.t {
					padding: 0 20px 0 0;
					text-align: right;
				}
				.bdy {
					padding: 0 20px 0 0;
					text-align: right;
				}
			}
			.t {
				padding-left: 20px;
				color: #ff6a5f;
				font-size: 32px;
				line-height: 40px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			.img {
				margin: 0 auto;
				text-align: center;
				img {
					max-width: 100%;
				}
			}
			.bdy {
				padding-left: 20px;
				p {
					&.mb10 {
						margin-bottom: 15px;
					}
					.blue {
						color: #2cb7a6;
						font-weight: bold;
						&.italic {
							font-style: italic;
						}
					}
					font-size: 16px;
					line-height: 23px;
					color: #6d6e71;
					margin-bottom: 0;
				}
			}
		}
	}
	.slider-banner {
		margin-bottom: 0;
		.slick-dots {
            bottom: 20px;
            li {
                margin: 0 7px;
                width: 12px;
                height: 12px;
                &.slick-active {
                    button {
                        background: white;
                    }
                }
                button {
                    width: 12px;
                    height: 12px;
                    padding: 3px;
                    background: transparent;
                    border: 1px solid white;
                    border-radius: 50px;
                    &:before {
                        display: none;
                    }
                }
            }
        }
		.item {
			.bg-banner {
				.tbl {
					position: relative;
					z-index: 10;
					padding-top: 50px;
				}
				position: relative;
				height: 100vh;
				.abs-img {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 100%;
					img {
						width: 100%;
					}
				}
				.img {
					img {
						max-width: 100%;
					}
				}
				.t {
					color: #ff6a5f;
					font-size: 26px;
					line-height: 30px;
					font-weight: bold;
					margin-bottom: 5px;
				}
				.bdy {
					margin-bottom: 30px;
					p {
						font-size: 15px;
						line-height: 20px;
						color: #6d6e71;
						&.mb8 {
							margin-bottom: 8px;
						}
						.blue {
							color: #2cb7a6;
							font-weight: bold;
							&.italic {
								font-style: italic;
							}
						}
						margin-bottom: 0;
					}
				}
				.link-btn {
					background-image: linear-gradient(to right, #52d4bf , #0cb7bf);
					color: white;
				}
			}
		}
	}
	.bg {
		background-size: cover !important;
		width: 100%;
		padding: 80px 0;
		
		&#siap {
			padding: 80px 0 120px;
			.t {
				font-size: 35px;
				line-height: 40px;
				color: white;
				font-weight: bold;
				text-align: center;
			}
			.bdy {
				font-size: 18px;
				line-height: 26px;
				color: white;
				text-align: center;
				margin-bottom: 50px;
			}
			.bdr {
				padding-left: 15px;
				font-size: 17px;
				line-height: 23px;
				color: white;
				margin-bottom: 30px;
				border-left: 3px solid white;
			}
		}

		&#tentang {
			.t {
				color: #ff6a5f;
				font-weight: bold;
				font-size: 35px;
				line-height: 40px;
				text-align: center;
				margin-bottom: 30px;
			}
			.bdy {
				text-align: center;
				margin-bottom: 30px;
				p {
					font-size: 17px;
					line-height: 26px;
					color: #6d6e71;
					.blue {
						color: #2cb7a6;
						font-weight: bold;
					}
					margin-bottom: 0;
				}
			}
			.link-btn {
				background-image: linear-gradient(to right, #52d4bf , #0cb7bf);
				color: white;
			}
		}

		&#desain {
		    .bdr-desain {
		    	border-top: 1px solid #2cb7a6;
		    	padding-top: 80px;
		    }
			padding-top: 150px;
			.t {
				color: #ff6a5f;
				font-weight: bold;
				font-size: 35px;
				line-height: 40px;
				text-align: center;
				margin-bottom: 30px;
			}
			.tab-content {
				margin-bottom: 40px;
				.tab-pane {
					.img {
						padding: 0 10px;
						&.small {
							a {
								text-align: center;
								img {
									width: auto;
									height: 340px;
								}
							}
						}
						a {
							cursor: pointer;
							display: block;
							img {
								width: 100%;
							}
						}
					}
				}
			}
			ul.nav-pills {
				li {
					text-align: center;
					width: 25%;
					a {
						&.active {
							-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
							-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
							box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
						}
						margin-bottom: 20px;
						display: inline-block;
						padding: 8px 20px;
						line-height: 30px;
						font-size: 22px;
						text-align: center;
						background-color: white;
						font-weight: bold;
						color: #2cb7a6;
					}
					ul.l-desain {
						margin: 0;
						padding: 0;
						li {
							width: 100%;
							color: #6d6e71;
							text-align: center;
							font-size: 16px;
							line-height: 30px;
							margin-bottom: 5px;
							display: block;
						}
					}
				}
			}
		}

		&#cara {
			.t {
				margin-bottom: 5px;
				font-weight: bold;
				text-align: center;
				font-size: 21px;
				letter-spacing: 1px;
				line-height: 24px;
				color: white;
				text-transform: uppercase;
			}
			.t2 {
				font-weight: bold;
				text-align: center;
				font-size: 40px;
				line-height: 50px;
				color: white;
				margin-bottom: 25px;
			}
			.item {
				text-align: center;
				.img {
					margin-bottom: 25px;
					img {
						height: 130px;
					}
				}
				.nm {
					font-weight: bold;
					font-size: 22px;
					line-height: 26px;
					letter-spacing: 0.5px;
					color: white;
					text-transform: uppercase;
				}
				.text {
					text-shadow: 1px 1px 1.5px #2d2d2d;
					font-size: 14px;
					line-height: 20px;
					color: white;
					text-align: center;
				}
			}
		}

		&#testimoni {
			position: relative;
			padding: 80px 0;
			.abs-testi {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				img {
					width: 100%;
				}
			}
			.abs-testi-left {
				position: absolute;
				top: 70px;
				left: 0;
			}
			.abs-testi-right {
				position: absolute;
				top: 200px;
				right: 0;
				img {
					height: 100px;
				}
			}
			.img {
				img {
					max-width: 100%;
				}
			}
			.pl50 {
				padding-left: 50px;
				margin-top: 80px;
				.t {
					color: #ff6a5f;
					font-weight: bold;
					font-size: 45px;
					line-height: 50px;
					margin-bottom: 5px;
				}
				.bdy {
					color: #6d6e71;
					font-size: 20px;
					line-height: 26px;
					.blue {
						color: #21c0bf;
						font-weight: bold;
					}
				}
			}
			.t2 {
				color: white;
				margin: 40px 0 30px;
				font-size: 50px;
				line-height: 55px;
				text-align: center;
				font-weight: bold;
				position: relative;
			}
			.slider-testimoni {
				.slick-prev {
                    width: 17px;
                	height: 28px;
                	background: url('../images/testi-left.png');
                    &:before {
                    	display: none;
                    } 
                }
                .slick-next {
                	width: 17px;
                	height: 28px;
                	background: url('../images/testi-right.png');
                    &:before {
                    	display: none;
                    }   
                }
				.item {
					margin: 0 25px;
					.bdy-testi {
						margin-bottom: 10px;
						p {
							color: white;
							height: 80px;
							overflow: hidden;
							margin-bottom: 0;
							font-size: 15px;
							line-height: 20px;
						}
					}
					.nm-testi {
						font-style: italic;
						font-size: 13px;
						color: white;
						line-height: 15px;
						text-align: right;
					}
				}
			}
		}

		&#hubungi {
			.t {
				margin-bottom: 80px;
				font-weight: bold;
				text-align: center;
				font-size: 35px;
				line-height: 40px;
				color: #ff6a5f;
			}
			.item {
				text-align: center;
				.img {
					margin-bottom: 20px;
					img {
						height: 180px;
					}
				}
				a {
					display: inline-block;
					img {
						height: 45px;
						@include transition(all 0.3s);
					}
					&:hover {
						img {
							opacity: 0.7;
						}
					}
				}
			}
			.metode {
				border-top: 2px solid #2cb7a6;
				padding-top: 20px;
				margin-top: 80px;
				.t2 {
					font-size: 20px;
					line-height: 26px;
					color: #6d6e71;
					margin-bottom: 15px;
				}
				ul.l {
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						vertical-align: middle;
						margin-right: 15px;
						&:last-child {
							margin-right: 0;
						}
						img {
							height: 30px;
						}
					}
				}
			}
		}
	}
}

.col-20 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

header {
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	&.scroll {
		.header-bottom { 
			padding: 10px 0;
			.logo {
				a {
					img {
						height: 40px;
					}
				}
			}
		}
		.header-top { 
			height: 5px;
		}
	}
	.header-bottom {
		background-color: white;
		padding: 12px 0;
		@include transition(all 0.3s);
		.menu {
			display: none;
		}
		.logo {
			a {
				display: inline-block;
				img {
					@include transition(all 0.3s);
					max-width: 100%;
					height: 50px;
				}
			}
		}
		.main-menu {
			position: relative;
			top: 6px;
			text-align: right;
			nav {
				a {
					margin-right: 40px;
					font-size: 16px;
					line-height: 20px;
					color: #2cb7a6;
					@include transition(all 0.3s);
					&:last-child {
						margin-right: 0;
					}
					&.active {
						font-weight: bold;
					}
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
	.header-top {
		background-image: linear-gradient(to right, #52d4bf , #0cb7bf);
		height: 25px;
		@include transition(all 0.3s);
	}
}

.fixed-top {
	a {
		display: block;
		// background-color: #ff6a5f;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		cursor: pointer;
		padding: 10px;
		position: fixed;
		right: 10px;
		bottom: 30px;
		z-index: 1000;
		@include transition(all 0.3s);
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		.img {
			text-align: center;
			position: absolute;
			left: 55%;
			top: 50%;
			margin-bottom: 3px;
			@include transform(translate(-50%,-50%));
			img {
				width: 30px;
			}
		}
		font-weight: bold;
		text-align: center;
		color: #414042 !important;
		font-size: 15px;
	}
}


.fixed-message {
	a {
		display: block;
		background-color: #ff6a5f;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		cursor: pointer;
		padding: 10px;
		position: fixed;
		right: 10px;
		top: calc(50% + 100px);
		z-index: 1000;
		@include transition(all 0.3s);
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		.img {
			text-align: center;
			position: absolute;
			left: 55%;
			top: 50%;
			@include transform(translate(-50%,-50%));
			img {
				width: 30px;
			}
		}
		.txt {
			text-transform: uppercase;
			color: white;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			margin-right: 15px;
			display: none;
			@include transition(all 0.3s);
		}
		&:hover {
			width: 170px;
			border-radius: 30px;
			padding: 10px 25px;
			.img {
				left: inherit;
				right: 20px;
				@include transform(translate(0,-50%));
			}
			.txt {
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}

.fixed-question {
	a {
		display: block;
		background-color: #2cb7a6;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		cursor: pointer;
		padding: 10px;
		position: fixed;
		right: 10px;
		top: calc(50% + 30px);
		z-index: 1000;
		@include transition(all 0.3s);
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
		.img {
			text-align: center;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(translate(-50%,-50%));
			img {
				width: 30px;
			}
		}
		.txt {
			text-transform: uppercase;
			color: white;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			margin-right: 15px;
		    white-space: nowrap;
			display: none;
			@include transition(all 0.3s);
			.fz13 {
				font-size: 13px;
				letter-spacing: 0.5px;
			}
		}
		&:hover {
			width: 230px;
			border-radius: 30px;
			padding: 10px 25px;
			.img {
				left: inherit;
				right: 20px;
				@include transform(translate(0,-50%));
			}
			.txt {
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}

footer {
	color: white;
	padding: 50px 0 25px;
	background-image: linear-gradient(to right, #52d4bf , #0cb7bf);
	.t-footer {
		font-family: 'ProximaNova-Semibold';
		font-size: 19px;
		line-height: 26px;
		margin-bottom: 10px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		a {
			cursor: pointer;
		}
	}
	.cp {
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		margin-top: 40px;
		a {
			font-size: 15px;
			line-height: 18px;
			color: white;
		}
	}
	ul.l-footer {
		margin: 0;
		padding: 0;
		li {
			margin-bottom: 3px;
			display: block;
			font-size: 16px;
			letter-spacing: 0.25px;
			line-height: 26px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.link {
		margin-bottom: 13px;
		a {
			img {
				width: 28px;
				margin-right: 3px;
			}
			display: inline-block;
			color: white;
			font-family: 'ProximaNova-Semibold';
			font-size: 18px;
		}
	}
}


.maintenance {
	background-color: white;
	border-radius: 15px;
	padding: 50px;
	height: calc(100vh - 100px);
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.5);
	.logo {
		margin-bottom: 20px;
		text-align: center;
		img {
			margin: 0 auto;
			width: 400px;
		}
	}
	.img {
		margin: 40px 0 20px;
		text-align: center;
		img {
			margin: 0 auto;
			width: 450px;
		}
	}
	.txt {
		font-weight: bold;
		text-transform: uppercase;
		color: #58595B;
		text-align: center;
		font-size: 30px;
		line-height: 35px;
		letter-spacing: 2px;
	}
}

.activate {
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha opacity=100;
	filter: alpha(opacity=100)
}

.animated {
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha opacity=0;
	filter: alpha(opacity=0)
}

@import "desktop";
@import "tablet";
@import "mobile";
@import "small_mobile";